
@font-face {
  font-family: 'MetaPro-Bold';
  src: url('MetaPro-Bold.eot?#iefix') format('embedded-opentype'),  url('MetaPro-Bold.woff') format('woff'), url('MetaPro-Bold.ttf')  format('truetype'), url('MetaPro-Bold.svg#MetaPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
