
@font-face {
  font-family: 'MetaPro-Normal';
  src: url('MetaPro-Normal.eot?#iefix') format('embedded-opentype'),  url('MetaPro-Normal.woff') format('woff'), url('MetaPro-Normal.ttf')  format('truetype'), url('MetaPro-Normal.svg#MetaPro-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
