
@font-face {
  font-family: 'MetaPro-Medium';
  src: url('MetaPro-Medium.eot?#iefix') format('embedded-opentype'),  url('MetaPro-Medium.woff') format('woff'), url('MetaPro-Medium.ttf')  format('truetype'), url('MetaPro-Medium.svg#MetaPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
