//$font-main: 'MetaPro';
//$path-fonts: 'fonts';
//
//@font-face {
//  font-family: $font-main;
//  src: url('#{$path-fonts}/MetaPro-Normal.ttf') format('truetype');
//  font-weight: 300;
//  font-style:  normal;
//}